
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* from  google font  we choos import*/


*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background:#9F73AB ;
    color: azure;
    font-family: 'Caveat', cursive;
}


